<!doctype html>
<title>{% block title %}Miętkie Przemyślenia{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('blog.index') }}"> Miętkie Przemyślenia</a></h1>
  <form>
      <input type="text" name="q">
      <button>Szukaj</button>
  </form>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.profile') }}">{{ g.user['username'] }}</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<section class="footer">
</section>

<script>
  function toggleEdit(viewId, editId) {
    const viewDiv = document.getElementById(viewId);
    const editDiv = document.getElementById(editId);

    if (!viewDiv || !editDiv) {
      console.error("Toggle elements not found:", viewId, editId);
      return;
    }

    if (editDiv.style.display === 'none' || editDiv.style.display === '') {
      editDiv.style.display = 'block';
      viewDiv.style.display = 'none';
    } else {
      editDiv.style.display = 'none';
      viewDiv.style.display = 'block';
    }
  }
</script>
  </body>
</html>
